body{
    padding: 100px;
    background-color: #6B5B95;
}

.submit-area{
    margin-top:50px;
    padding: 40px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    background-color: #88B04B;
    
}
#transaction-area{
    display:none;
}
.deposit{
    background-color: slateblue;
}

.withdraw{
    background-color: lightsalmon;
}

.balance{
    background-color: orange;
}
.deposit,.withdraw,.balance{
    margin: 0 20px;
    border-radius: 10px;
    color:white;
    padding: 20px;
}
.deposit-enter,.withdraw-enter{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 20px;
    background-color: #88B04B;
}
.text-center{
    background-color:#88B04B;
    border-radius: 10px;
    color: black;
    padding: 10px;
    
}